* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #f0efed;
    height: 100vh;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings>h1 {
    border-bottom: 4px solid #000;
    margin: 20px 0;
}

table {
    margin: 20px auto;
    /* border: 2px solid black; */
    border-collapse: collapse;
    width: 40em;
    box-shadow: 0 0 10px #808080;

}

thead {
    background-color: #f3e6e6;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

th {
    width: 7em;
    font-size: 18px;
}

td {
    text-align: center;
    padding: 5px;
}

tr {
    border-bottom: 1px solid #808080;
}


.inpBtnParent {
    margin: auto;
    box-shadow: 0 0 10px #808080 inset;
    border-radius: 10px;
    width: 40em;
    padding: 10px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons>button {
    width: 6em;
    padding: 4px 0;
    margin: 2px;
    border: none;
    background-color: #5d72e7;
    border-radius: 6px;
    color: #f5f5f5;
}

.buttons>button:hover {
    cursor: pointer;
    background-color: #4761f3;
}

.inputs>input {
    margin: 10px;
    padding: 2px 6px;
    border: 2px solid #000;
    outline: none;
    border-radius: 7px;
    margin: 10px;
    padding: 2px 6px;
}

.inputs>input:focus {
    box-shadow: 0 0 8px #808080;
}